---
import ScrollArrow from "../components/ScrollArrow.astro";
import MySiteLayout from "../layouts/default.astro";
---

<MySiteLayout showBackToTop={false}>
  <div
    class="dark:bg-[#3e3f45] bg-[#E2E6F2] p-4 2xl:px-56 md:px-24 sm:px-16 lg:h-[calc(100vh-111px)] mt-[111px] flex flex-col lg:flex-row gap-20 justify-center items-start lg:items-center"
  >
    <section class="flex-row flex justify-center gap-20 w-full  lg:w-1/2" id="about-me">
      <div class="justify-center flex flex-col "><p class="tracking-wide">
        Welcome to my website! I am an aspiring UX designer with a background in
        architectural design.<br />
        <br />
        I graduated from Virginia Tech in 2020 with a Bachelor of Architecture and have worked at various architecture firms ever since. 
        After discovering Figma in late 2022, I quickly gained interest in web and mobile
        app design. I was already familiar with the iterative process of architectural design, 
        but I found design and implementation in the digital space to be faster paced and more creatively engaging and fulfilling.<br />
        <br />
        I learned the basics of HTML and CSS to make this website, and here you'll find my personal
        UX/UI projects as well as my undergraduate architecture thesis. Thank you for stopping by!
      </p>
      <a href="mailto:minakang.c@gmail.com" class="inline-block pt-10 w-fit">
        <ScrollArrow text="email me" horizontal />
      </a>
    </div>
    </section>
    <div class="">
          <img
          src="/index/mina-bridge.png"
          alt="photo"
          class="object-contain "
        /></div>
  </div>
</MySiteLayout>