---
import ScrollArrow from "../components/ScrollArrow.astro";
import MySiteLayout from "../layouts/default.astro";
---

<MySiteLayout showBackToTop={false}>
  <div
    class="dark:bg-[#3e3f45] bg-[#E2E6F2] 2xl:pl-56 md:pl-24 sm:pl-16 pl-10 lg:h-[100vh] w-full flex flex-col lg:flex-row justify-center items-start lg:items-center drop-shadow-md"
  >
    <section class="flex-col flex justify-center pt-16 sm:pt-36" id="about-me">
      <div class="justify-center">
        <div class="flex flex-row">
          <h1
            class="text-[#FF424E] dark:text-[#FF8991] font-normal text-[50px] tracking-tight"
          >
            about
          </h1>
        </div>
      </div>
      <p class="pt-10 w-3/4 sm:w-2/3 tracking-wide">
        Welcome to my website! I am an aspiring UX designer with a background in
        architectural design.<br />
        <br />
        I graduated from Virginia Tech in 2020 with a Bachelor of Architecture and
        worked at a global engineering/architecture firm from 2020-2023. After being
        introduced to Figma in late 2022, I quickly gained interest in web and mobile
        app design. I was already familiar with the iterative process of design in
        architecture, but I found the continuous testing and turnaround to be quicker
        with user experience design in the digital world. I gravitated towards the
        immediate and direct nature of incorporating user feedback.<br />
        <br />
        On this site (I learned to code myself :-)) you'll find ongoing personal
        UX/UI projects and one of my undergraduate architecture projects. Feel free
        to reach out if you would like to hear more about my work. I would also be
        happy to provide my complete architecture portfolio with professional projects,
        if interested. Thank you for stopping by!
      </p>
      <a href="mailto:minakang.c@gmail.com" class="pt-10">
        <ScrollArrow text="email me" horizontal />
      </a>
    </section>
    <img
      src="/index/mina-bridge.png"
      alt="photo of me"
      class="justify-center lg:object-contain w-4/5 sm:w-1/2 mt-[108px]"
    />
  </div>
</MySiteLayout>

<style>
  .photo {
    max-width: 36%;
    max-height: auto;
  }

  .table {
    max-width: 20%;
    max-height: auto;
  }

  .cherryblossom {
    max-width: 16%;
    max-height: auto;
  }

  .resume {
    width: 400px;
    height: auto;
  }

  .contact {
    width: 383px;
    height: auto;
  }

  .resume:hover {
    content: url("L-resume-hover.png");
  }
</style>
