---
import MySiteLayout from "../layouts/default.astro";
---

<MySiteLayout>
  <div class="w-screen container mx-auto">
    <div
      class="dark:bg-[#3e3f45] bg-[#ECEEF4] h-[70vh] mt-52 w-3/4 flex flex-row align-center"
    >
      <div class="flex flex-col justify-center">
        <div class="flex flex-row">
          <h6 class="text-5xl leading-[67px] pl-40">
            <em>ı'm</em>
          </h6>
          <h1
            class="leading-[7px] text-[130px] tracking-tight pl-4 font-medium"
          >
            mına
          </h1>
        </div>
        <h2 class="font-medium text-4xl pl-40 pt-32 tracking-tight">
          an <span class="text-[#C467F0]">archıtectural desıgner</span>
          strıvıng to create thoughtful
          <span class="text-[#7692F6]">user experıences</span>
          <br />to support people.
        </h2>
        <h6 class="text-3xl pl-40 tracking-tight pt-10">
          <em>(and have fun whıle doıng so!)</em>
        </h6>
      </div>
      <img
        src="/im-mina-photo.png"
        alt="photo of me"
        class="-mr-72 rotate-[352deg] im-mina-photo"
      />
    </div>

    <div class="pt-36" id="work">
      <div class="flex flex-row">
        <h6 class="text-5xl leading-[67px] pl-40">
          <em>my</em>
        </h6>
        <h1 class="leading-[7px] text-[130px] tracking-tight pl-4 font-medium">
          work
        </h1>
      </div>
    </div>

    <a href="/projects/nutrie">
      <div
        class="dark:bg-[#3e3f45] bg-[#ECEEF4] mt-10 h-[70vh] w-full flex flex-row relative group"
      >
        <div
          class="dark:bg-[#3e3f45] bg-[#ECEEF4] h-full w-full group-hover:w-2/3 transition-all duration-700 z-40 flex justify-center items-center"
        >
          <img src="L-Nutrie-reg-logo.svg" class="nutrie-logo" />
        </div>
        <div
          class="dark:bg-[#000000] z-50 dark:bg-opacity-50 bg-[#FFFFFF] h-[120px] w-full bg-opacity-50 absolute bottom-0 flex flex-col justify-center pl-20"
        >
          <h2 class="font-medium text-4xl tracking-normal align-center">
            nutrıe
          </h2>
          <p class="tracking-wide font-medium text-lg">
            A mobile app for guided intuitive meal planning
          </p>
        </div>
        <img
          src="L-Nutrie-Index-Spread-color.png"
          alt="photo of nutrie phone screens"
          class="absolute h-full object-cover right-0 grayscale group-hover:grayscale-0"
        />
      </div>
    </a>

    <a href="/projects/plantplace">
      <div
        class="dark:bg-[#3e3f45] bg-[#ECEEF4] mt-24 h-[70vh] w-full flex flex-row relative group"
      >
        <div
          class="dark:bg-[#3e3f45] bg-[#ECEEF4] h-full w-full group-hover:w-2/3 transition-all duration-700 z-30 flex justify-center items-center"
        >
          <img
            src="L-PlantPlace-shiny-logo.svg"
            class="grayscale group-hover:grayscale-0"
          />
          <div
            class="dark:bg-[#000000] dark:bg-opacity-50 bg-[#FFFFFF] h-[120px] w-full group-hover:w-2/3 transition-all duration-700 z-40 bg-opacity-50 absolute bottom-0 flex flex-col justify-center pl-20"
          >
            <h2 class="font-medium text-4xl tracking-normals align-center">
              plantplace
            </h2>
            <p class="tracking-wide font-medium text-lg">
              A digital marketplace for plant enthusiasts
            </p>
          </div>
        </div>
        <img
          src="/L-PlantPlace-Index-Row-color.png"
          alt="photo of plantplace phone screens"
          class="absolute h-full object-cover right-0 grayscale group-hover:grayscale-0"
        />
      </div>
    </a>

    <a href="/projects/arch">
      <div
        class="dark:bg-[#3e3f45] bg-[#ECEEF4] mt-16 h-[70vh] w-full flex flex-row relative group"
      >
        <div
          class="dark:bg-[#3e3f45] bg-[#ECEEF4] h-full w-full group-hover:w-2/3 transition-all duration-700 z-30 flex justify-center items-center"
        >
          <img
            src="L-Arch-reg-logo.svg"
            class="grayscale group-hover:grayscale-0"
          />
        </div>
        <div
          class="dark:bg-[#000000] z-40 dark:bg-opacity-50 bg-[#FFFFFF] h-[120px] w-full bg-opacity-50 absolute bottom-0 flex flex-col justify-center pl-20"
        >
          <h2 class="font-medium text-4xl tracking-normal align-center">
            experıencıng archıtecture
          </h2>
          <p class="tracking-wide font-medium text-lg">
            B. Arch. Thesis - Designing a preschool
          </p>
        </div>
        <img
          src="/L-Arch-Index-Spread-color.png"
          alt="architecture drawing"
          class="absolute h-full object-cover right-0 grayscale group-hover:grayscale-0"
        />
      </div>
    </a>

    <div class="pt-36" id="extras">
      <div class="flex flex-row">
        <h6 class="leading-[67px] text-5xl pl-40">
          <em>the</em>
        </h6>
        <h1 class="leading-[7px] text-[130px] tracking-tight pl-4 font-medium">
          extras
        </h1>
      </div>
    </div>

    <div class="w-screen container mx-auto">
      <div
        class="dark:bg-[#3e3f45] bg-[#ECEEF4] h-[4300px] mt-10 w-full container"
      >
        <div class="flex flex-col pl-20 pt-20">
          <h1 class="font-medium text-4xl tracking-tight">poster desıgn</h1>
          <p class="pt-3 tracking-wide font-medium text-lg">
            A look into some of my favorite music artists.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="w-full flex flex-row justify-between pt-20 space-x-24">
            <div class="pl-28"><img src="/MUNA.png" class="h-auto" /></div>
            <div class="pr-28">
              <img src="/beths.png" class="h-auto" />
            </div>
          </div>
          <div class="w-full flex flex-row justify-between pt-20 space-x-24">
            <div class="pl-28"><img src="/Alvvays.png" class="h-auto" /></div>
            <div class="pr-28">
              <img src="/alvvays-2.png" class="h-auto" />
            </div>
          </div>
          <div class="w-full flex flex-row justify-between pt-20 space-x-24">
            <div class="pl-28">
              <img src="/BigThief.png" class="h-auto" />
            </div>
            <div class="pr-28"><img src="/charli.png" class="h-auto" /></div>
          </div>
          <div class="w-full flex flex-row justify-between pt-20 space-x-24">
            <div class="pl-28">
              <img src="/solar-power.png" class="h-auto" />
            </div>
            <div class="pr-28">
              <img src="/charli.png" class="h-auto opacity-0" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="dark:bg-[#3e3f45] bg-[#ECEEF4] h-[70vh] mt-32 w-full flex flex-row align-center"
    >
      <div class="flex-col flex justify-center pl-40">
        <div class="justify-center" id="about-me">
          <div class="flex flex-row">
            <h1 class="font-medium leading-[7px] text-[130px] tracking-tight">
              about
            </h1><h6 class="leading-[67px] text-5xl pl-8"><em>me</em></h6>
          </div>
        </div>
        <p class="pt-20 w-full tracking-wide">
          Welcome to my website! I’m an aspiring UX designer with a background
          in architectural design.<br />
          <br />
          I graduated from Virginia Tech in 2020 with a Bachelor of Architecture
          and have since been working at a global engineering/architecture firm.
          After being introduced to Figma in late 2022, I quickly gained interest
          in web and mobile app design. I was already familiar with the iterative
          process of design in architecture, but I found the continuous testing and
          turnaround to be quicker with user experience design. I gravitated towards
          the immediate and direct nature of incorporating user feedback.<br />
          <br />
          On this site you’ll find ongoing personal UX/UI projects, one of my personal
          architecture design projects, as well as some things I design for fun.
          Join me as I continue to explore our world of user experiences.
        </p>
      </div>
      <img
        src="/join-me-photo.png"
        alt="photo of me"
        class="-mb-80 mt-24 join-me-photo"
      />
    </div>
  </div>

  <style>
    h2 {
      font-weight: bold;
      font-family: "Alexandria", sans-serif;
    }

    .im-mina-photo {
      filter: none;
    }

    .im-mina-photo:hover {
      content: url("im-mina-photo-outline.png");
    }

    .join-me-photo {
      filter: none;
    }

    .join-me-photo:hover {
      content: url("join-me-photo-outline.png");
    }

    .nutrie-logo {
      filter: none;
    }

    .nutrie-logo:hover {
      content: url("L-Nutrie-shiny-logo.svg");
    }

    .plantplace-logo {
      filter: none;
    }

    .plantplace-logo:hover {
      content: url("L-PlantPlace-shiny-logo.svg");
    }

    .arch-logo {
      filter: none;
    }

    .arch-logo:hover {
      content: url("L-Arch-shiny-logo.svg");
    }
  </style>
</MySiteLayout>
