---
import ThesisRow from "../components/ThesisRow.astro";
import MySiteLayout from "../layouts/default.astro";
---

<MySiteLayout title="Home Page">
  <h1 class="sm:text-3xl">Hello, World!</h1>
  <ThesisRow
  />
 
</MySiteLayout>
