---
import ProjectRow from "../components/ProjectRow.astro";
import MySiteLayout from "../layouts/default.astro";
---

<MySiteLayout title="Home Page">
  <h1 class="sm:text-3xl">Hello, World!</h1>
  <ProjectRow
    color="black"
    number="1"
    title="My Thesis"
    subtitle="I did an architecture thesis :)"
    projectLink="thesis"
  />
  <ProjectRow
    color="purple-500"
    number="2"
    reversed
    title="Plantplace"
    subtitle="A plant marketplace app"
    projectLink="plantplace"
  />
  <ProjectRow
    color="green-500"
    number="3"
    title="Eating app"
    subtitle="A food tracking app"
    projectLink="eating"
  />
</MySiteLayout>
