---
import MySiteLayout from "../layouts/default.astro";
---

<MySiteLayout showBackToTop={true}>
  <div class="w-full">
    <div
      class="dark:bg-[#2B2C36] bg-[#E2E6F2] h-[90vh] xl:pb-0 pb-10 w-full flex flex-col justify-center align-center drop-shadow-md"
    >
      <h1
        class="pt-20 text-[24px] sm:text-[30px] xl:text-[40px] tracking-tight text-[#000000] dark:text-[#ffffff] text-center font-normal"
      >
        hello, my name is Mina!
      </h1>

      <div class="pt-4 flex flex-row justify-center gap-6 sm:gap-10">
        <img
          src="/index/waving-hand.svg"
          class="w-[70px] h-[70px] pt-1 block dark:hidden"
        />
        <img
          src="/index/dark-waving-hand.svg"
          class="w-[70px] h-[70px] pt-1 hidden dark:block"
        />
        <img
          src="/index/magic-wand.svg"
          class="w-16 h-16 pt-2 block dark:hidden"
        />
        <img
          src="/index/dark-magic-wand.svg"
          class="w-16 h-16 pt-2 hidden dark:block"
        />
        <img
          src="/index/coffee-cup.svg"
          class="w-[70px] h-[70px] pb-1 block dark:hidden"
        />
        <img
          src="/index/dark-coffee-cup.svg"
          class="w-[70px] h-[70px] pb-1 hidden dark:block"
        />
      </div>
      <h4
        class="sm:text-[18px] text-[14px] tracking-tight text-[#000000] dark:text-[#ffffff] text-center pt-8"
      >
        designer and barista based in London.
      </h4>
    </div>

    <section id="work">
      <a href="/projects/nutrie">
        <div
          class="dark:bg-[#1e1e1e] bg-[#FFFFFF] h-[70vh] w-full flex flex-row relative group drop-shadow-md items-center"
        >
          <div
            class="dark:bg-[#000000] z-40 dark:bg-opacity-50 bg-[#FFFFFF] h-[160px] md:h-[120px] w-full bg-opacity-80 flex flex-col justify-center text-center"
          >
            <div
              class="text-[#000000] dark:text-[#FFFFFF]"
            >
              <h3
                class="font-medium text-xl sm:text-4xl tracking-normal align-center"
              >
                nutrie
              </h3>
              <p class="tracking-wide font-medium text-sm sm:text-lg">
                A mobile app for guided intuitive meal planning
              </p>
            </div>
          </div>
          <img
            src="/nutrie/L-Nutrie-page-static-image-2.png"
            alt="photo of nutrie phone screens"
            class="absolute block dark:hidden h-full object-cover w-full sm:grayscale sm:group-hover:grayscale-0 sm:transition-all sm:transition-duration-[700]"
          />
          <img
            src="/nutrie/D-Nutrie-page-static-image.png"
            alt="photo of nutrie phone screens"
            class="absolute hidden dark:block h-full object-cover w-full sm:grayscale sm:group-hover:grayscale-0 sm:transition-all sm:transition-duration-[700]"
          />
        </div>
      </a>

      <a href="/projects/plantplace">
        <div
          class="dark:bg-[#1e1e1e] bg-[#FFFFFF] h-[70vh] w-full flex flex-row relative group drop-shadow-md"
        >
          <div
            class="dark:bg-[#000000] dark:bg-opacity-50 bg-[#FFFFFF] h-[160px] md:h-[120px] w-full z-40 bg-opacity-80 my-auto flex flex-col justify-center text-center"
          >
            <div
              class="text-[#000000] dark:text-[#FFFFFF]"
            >
              <h3
                class="font-medium text-xl sm:text-4xl tracking-normal align-center"
              >
                plantplace
              </h3>
              <p class="tracking-wide font-medium text-sm sm:text-lg">
                A digital marketplace for plant enthusiasts
              </p>
            </div>
          </div>
          <img
            src="/plant/L-PlantPlace-page-static-image-2.png"
            alt="photo of plantplace phone screens"
            class="block dark:hidden absolute h-full object-cover w-full sm:grayscale sm:group-hover:grayscale-0 sm:transition-all sm:transition-duration-[700]"
          />
          <img
            src="/plant/D-PlantPlace-static-image.png"
            alt="photo of plantplace phone screens"
            class="dark:block hidden absolute h-full object-cover w-full sm:grayscale sm:group-hover:grayscale-0 sm:transition-all sm:transition-duration-[700]"
          />
        </div>
      </a>

      <a href="/projects/arch">
        <div
          class="dark:bg-[#1e1e1e] bg-[#FFFFFF] h-[70vh] w-full flex flex-row relative group drop-shadow-md"
        >
          <div
            class="dark:bg-[#000000] z-40 dark:bg-opacity-50 bg-[#FFFFFF] h-[160px] md:h-[120px] w-full bg-opacity-80 flex flex-col justify-center my-auto text-center"
          >
            <div
              class="text-[#000000] dark:text-[#FFFFFF]"
            >
              <h3
                class="font-medium text-xl sm:text-4xl tracking-normal align-center"
              >
                experiencing architecture
              </h3>
              <p class="tracking-wide font-medium text-sm sm:text-lg">
                B. Arch. Thesis - Designing a preschool
              </p>
            </div>
          </div>
          <img
            src="/index/exp-arch-image-2.png"
            alt="architecture drawing"
            class="absolute h-full object-cover w-full sm:grayscale sm:group-hover:grayscale-0 sm:transition-all sm:transition-duration-[700]"
          />
        </div>
      </a>
    </section>
    <!-- <div class="w-full" id="extras">
      <div class="flex flex-row pt-6">
        <h4 class="text-[40px] md:text-[70px] tracking-tight pl-10">extras</h4>
      </div>
    </div>

    <div class="dark:bg-[#2B2C36] bg-[#E2E6F2] pb-40 w-full drop-shadow-md">
      <div class="flex flex-col pl-20 pt-20">
        <h1 class="font-medium text-4xl tracking-tight">poster desıgn</h1>
        <p class="pt-3 tracking-wide font-medium text-lg">
          A look into some of my favorite music artists.
        </p>
      </div>
      <div class="overflow-auto md:overflow-visible">
        <div
          class="flex flex-row md:flex-col md:px-[80px] md:gap-20 md:pt-20 md:justify-between"
        >
          <div class="flex flex-row justify-around md:gap-24">
            <a
              href="https://open.spotify.com/artist/6xdRb2GypJ7DqnWAI2mHGn"
              target="_blank"
              ><div>
                <img
                  src="/posters/MUNA.png"
                  class="min-w-[200px] hover:scale-110 transition-all duration-500 ease-in-out"
                />
              </div>
            </a>
            <a
              href="https://open.spotify.com/artist/7DjwIxbe8kpw4pqnzAMoin"
              target="_blank"
            >
              <div>
                <img
                  src="/posters/beths.png"
                  class="min-w-[200px] hover:scale-110 transition-all duration-500 ease-in-out"
                />
              </div>
            </a>
            <a
              href="https://open.spotify.com/artist/56ZTgzPBDge0OvCGgMO3OY"
              target="_blank"
            >
              <div>
                <img
                  src="/posters/Beach-House.png"
                  class="min-w-[200px] hover:scale-110 transition-all duration-500 ease-in-out"
                />
              </div>
            </a>
          </div>
          <div class="flex flex-row justify-around md:gap-24">
            <a
              href="https://open.spotify.com/artist/3kzwYV3OCB010YfXMF0Avt"
              target="_blank"
              ><div>
                <img
                  src="/posters/Alvvays.png"
                  class="min-w-[200px] hover:scale-110 transition-all duration-500 ease-in-out"
                />
              </div>
            </a>
            <a
              href="https://open.spotify.com/artist/3kzwYV3OCB010YfXMF0Avt"
              target="_blank"
            >
              <div>
                <img
                  src="/posters/alvvays-2.png"
                  class="h-auto hover:scale-110 transition-all duration-500 ease-in-out"
                />
              </div>
            </a>
            <a
              href="https://open.spotify.com/artist/163tK9Wjr9P9DmM0AVK7lm"
              target="_blank"
            >
              <div>
                <img
                  src="/posters/solar-power.png"
                  class="h-auto hover:scale-110 transition-all duration-500 ease-in-out"
                />
              </div>
            </a>
          </div>
          <div class="flex flex-row justify-around md:gap-24">
            <a
              href="https://open.spotify.com/artist/25uiPmTg16RbhZWAqwLBy5"
              target="_blank"
              ><div>
                <img
                  src="/posters/charli.png"
                  class="h-auto hover:scale-110 transition-all duration-500 ease-in-out"
                />
              </div>
            </a>
            <a
              href="https://open.spotify.com/artist/5QdyldG4Fl4TPiOIeMNpBZ"
              target="_blank"
            >
              <div>
                <img
                  src="/posters/BigThief.png"
                  class="h-auto hover:scale-110 transition-all duration-500 ease-in-out"
                />
              </div>
            </a>
            <div>
              <img src="/posters/solar-power.png" class="h-auto opacity-0" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="dark:bg-[#2B2C36] bg-[#E2E6F2] pl-10 h-[80vh] mt-32 w-full flex flex-row align-center drop-shadow-md"
    >
      <div class="flex-col flex justify-center pl-10 pt-16" id="about-me">
        <div class="justify-center">
          <div class="flex flex-row pt-5">
            <h1
              class="font-medium leading-[7px] text-[80px] md:text-[130px] tracking-tight"
            >
              about
            </h1><h6
              class="md:leading-[77px] leading-[50px] text-3xl md:text-5xl md:pl-8 pl-4"
            >
              <em>me</em>
            </h6>
          </div>
        </div>
        <p class="pt-20 w-full tracking-wide">
          Welcome to my website! I’m an aspiring UX designer with a background
          in architectural design.<br />
          <br />
          I graduated from Virginia Tech in 2020 with a Bachelor of Architecture
          and have since been working at a global engineering/architecture firm.
          After being introduced to Figma in late 2022, I quickly gained interest
          in web and mobile app design. I was already familiar with the iterative
          process of design in architecture, but I found the continuous testing and
          turnaround to be quicker with user experience design. I gravitated towards
          the immediate and direct nature of incorporating user feedback.<br />
          <br />
          On this site you’ll find ongoing personal UX/UI projects, one of my personal
          architecture design projects, as well as some things I design for fun.
          Join me as I continue to explore our world of user experiences.
        </p>
      </div>
      <img
        src="/index/D-join-me-photo.png"
        alt="photo of me"
        class="-mb-80 mt-24 join-me-photo block dark:hidden"
      />
      <img
        src="/index/D-join-me-photo.png"
        alt="photo of me"
        class="-mb-80 mt-24 join-me-photo hidden dark:block"
      />
    </div> -->
  </div>
</MySiteLayout>

<style>
  h2 {
    font-weight: bold;
    font-family: "Alexandria", sans-serif;
  }

  .im-mina-photo {
    filter: none;

    @media (max-width: 768px) {
      content: url("/index/im-mina-photo-outline.png");
    }
  }

  .im-mina-photo:hover {
    content: url("/index/im-mina-photo-outline.png");
  }

  .join-me-photo {
    filter: none;

    @media (max-width: 768px) {
      content: url("/index/join-me-photo-outline.png");
    }
  }

  .plantplace-logo {
    filter: none;

    @media (max-width: 768px) {
      content: url("/index/L-PlantPlace-shiny-logo.svg");
    }
  }

  .plantplace-logo:hover {
    content: url("/index/L-PlantPlace-shiny-logo.svg");
  }

  .arch-logo {
    filter: none;

    @media (max-width: 768px) {
      content: url("/index/L-Arch-shiny-logo.svg");
    }
  }

  .arch-logo:hover {
    content: url("/index/L-Arch-shiny-logo.svg");
  }
</style>
