<div class="w-full flex">
    <div class="w-1/2 ratio flex justify-center items-center">
      <div class="text-9xl redtext numberfont">3</div>
    </div>
    <a class={`w-1/2 ratio `} href="projects/thesis">
      <div
        class={`w-full h-full redbackground flex justify-center items-center flex-col gap-5`}
      >
        <div class="text-5xl text-white titlefont">
          EatWell
        </div>
        <div class="text-xl text-white descriptionfont">Assisting people in their journey of <br>
          having a better relationship with food.</div>
        <div class="text-xl text-white">-&gt;</div>
      </div>
    </a>
  </div>
  <style>
    .redbackground {
      background-color: rgb(168 167 224);
    }
    .redtext {
      color: rgb(168 167 224);
    }
  </style>
  <style>
    .ratio {
      aspect-ratio: 4/3;
      width: 100%;
      height: auto;
    }
  </style>
  <style>
    .numberfont {
      font-weight: 800;
    }
  </style>
  <style>
    .titlefont {
      font-weight: 400; text-align: center;
    }
  </style>
  <style>
    .descriptionfont {
      font-weight: 300; text-align: center;
    }
  </style>