<div class="w-full flex flex-row-reverse">
  <div class="w-1/2 ratio" id="background">
    <a class="w-full h-full" href="projects/thesis">
      <div
        class={`w-full h-full purplebackground flex justify-center items-center flex-col gap-5`}
      >
        <div class="text-5xl titlefont tracking-wide">EatWell</div>
        <div class="text-xl descriptionfont tracking-wide">
          Designed to help people build a <br />
          healthier relationship with food.
        </div>
        <br />
        <svg
          width="45"
          height="36"
          viewBox="0 0 45 36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M27.6475 0.926327C27.0545 0.347817 26.1048 0.359541 25.5263 0.952514C24.9478 1.54549 24.9595 2.49516 25.5525 3.07367L27.6475 0.926327ZM43 18L44.0475 19.0737C44.3368 18.7914 44.5 18.4042 44.5 18C44.5 17.5958 44.3368 17.2086 44.0475 16.9263L43 18ZM25.5525 32.9263C24.9595 33.5048 24.9478 34.4545 25.5263 35.0475C26.1048 35.6405 27.0545 35.6522 27.6475 35.0737L25.5525 32.9263ZM2 16.5C1.17157 16.5 0.5 17.1716 0.5 18C0.5 18.8284 1.17157 19.5 2 19.5V16.5ZM25.5525 3.07367L41.9525 19.0737L44.0475 16.9263L27.6475 0.926327L25.5525 3.07367ZM27.6475 35.0737L44.0475 19.0737L41.9525 16.9263L25.5525 32.9263L27.6475 35.0737ZM43 16.5H2V19.5H43V16.5Z"
            fill="white"></path>
        </svg>
      </div>
    </a>
  </div>
  <div
    class="w-1/2 ratio flex justify-center items-center thesisimage"
    id="numberbackground"
  >
    <div>
      <svg
        width="411"
        height="529"
        viewBox="0 0 329 423"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M295.441 209.708C273.467 189.792 244.503 177.843 208.546 173.86L185.739 170.642L308.026 54.9661V0H20.9745L21.5738 74.0847H191.56L85.0965 177.445V230.021H152.814C179.182 230.021 199.557 235 213.94 244.958C228.722 254.915 236.113 269.653 236.113 289.169C236.113 301.517 232.917 312.47 226.525 322.03C220.132 331.191 210.744 338.36 198.359 343.538C185.974 348.318 170.992 350.708 153.413 350.708C132.639 350.708 112.264 346.924 92.2878 339.356C72.3121 331.788 53.7347 320.835 36.5555 306.496L0 374.008C19.9757 388.746 44.1463 400.695 72.5119 409.856C101.277 418.619 130.641 423 160.605 423C194.963 423 224.727 417.424 249.896 406.271C275.066 394.72 294.442 378.788 308.026 358.475C322.008 337.763 329 314.263 329 287.975C329 255.314 317.814 229.225 295.441 209.708Z"
          fill="white"
          fill-opacity="0.8"
          id="number"></path>
      </svg>
    </div>
    <!-- <svg width="166" height="389" viewBox="0 0 166 389" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0H166V389H78.2809V71.6871H0V0Z" fill="white" fill-opacity="0.8"/>
      </svg> -->
    <!-- <div class="text-9xl redtext" id="child">1</div> -->
  </div>
</div>
<style>
  .purplebackground {
    background-color: rgb(186 169 223);
  }
  #background:hover + #numberbackground #number {
    fill: rgb(186 169 223);
    transition: 0.2s;
    fill-opacity: 1;
  }
  .ratio {
    aspect-ratio: 4/3;
    width: 100%;
  }
  .titlefont {
    font-weight: 400;
    text-align: center;
    color: rgb(248 248 247);
  }
  .descriptionfont {
    font-weight: 300;
    text-align: center;
    color: rgb(248 248 247);
  }
</style>
