<div class="w-full flex flex-row-reverse">
    <div class="w-1/2 ratio">
            <div
                class={`w-full h-full beigebackground justify-center flex flex-col gap-5 pl-20`}
            >
                <div class="text-black welcomefont tracking-wide">
                    welcome to my page!
                </div>

                <div class="text-black minafont tracking-wider">
                    i'm <span class="rectangle">Mina</span>.
                </div>
                <div class="text-black journeyfont tracking-wide">
                    <br />
                    <br />
                    <br />
                    <br />
                    join me on my creative journey :-)
                </div>
            </div>
    </div>
    <div class="w-1/2 ratio flex justify-center items-center beigebackground">
        <div class="text-9xl redtext numberfont" id="child">0</div>
    </div>
</div>
<style>
    .beigebackground {
        background-color: rgb(238 235 232);
    }
    .redtext {
        color: rgb(248 167 162);
    }
    #number {
        opacity: 0.5;
    }
    .ratio {
        aspect-ratio: 1;
        width: 100%;
    }
    .numberfont {
        font-weight: 800;
        font-family: "Alexandria", sans-serif;
    }
    .welcomefont {
        font-weight: 300;
        text-align: left;
        font-size: 38px;
        font-family: "Acumin-Pro", "Alexandria", sans-serif;
    }
    .minafont {
        font-weight: 600;
        text-align: left;
        font-size: 70px;
        font-family: "Alexandria", sans-serif;
    }
    .rectangle {
        width: 190px;
        height: 100px;
        background-color: rgb(181 217 248);
    }
    .journeyfont {
        font-weight: 300;
        text-align: left;
        font-size: 28px;
        font-family: "Acumin-Pro", "Alexandria", sans serif;
        vertical-align: -20px;
    }
</style>
