---
const { text, horizontal = false } = Astro.props;
---

<div
  class={`  flex ${
    horizontal ? "gap-8 flex-row" : "flex-col"
  } items-center pb-10 dark:hover:text-[#FF8991] hover:text-[#FF424E] text-[#000000] dark:text-[#ffffff]`}
>
  <h3 class="text-center font-medium text-[2.25rem] pt-2 pb-2">
    {text}
  </h3>
  <svg
    width="24"
    height="32"
    viewBox="0 0 18 24"
    stroke="currentColor"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
    class={horizontal ? "-rotate-90" : ""}
  >
    <path
      d="M18 13.9883L15.2605 11.5364L10.7894 17.0066L10.7894 -1.99333e-06L7.18409 -2.03633e-06L7.18409 16.9737L2.73954 11.5359L2.03867e-06 13.9878L7.45159 23.1052C8.25183 24.0844 9.74853 24.0844 10.5488 23.1052L18 13.9883Z"
      fill="currentColor"></path>
  </svg>
</div>
