<div
  class="w-full flex"
>
  <div class="w-1/2 aspect-square flex justify-center items-center">
    <div class="text-5xl redtext" >1</div>
  </div>
  <a
    class={`w-1/2 aspect-square `}
    href="projects/thesis"
  >
    <div
      class={`w-full h-full redbackground flex justify-center items-center flex-col gap-4`}
    >
      <div class="text-3xl text-white">Architecture Thesis</div>
      <div class="text-xl text-white">What I did in my THesis</div>
      <div class="text-xl text-white">-&gt;</div>
    </div>
  </a>
</div>
<style>.redbackground{background-color: rgb(252 165 165);} 
.redtext{color:rgb(252 165 165)}
</style>