<div class="w-full flex flex-row-reverse">
  <div class="w-1/2 ratio" id="background">
    <a class="w-full h-full" href="projects/thesis">
      <div
        class={`w-full h-full redbackground flex justify-center items-center flex-col gap-5`}
      >
        <div class="text-5xl titlefont">
          Experiencing <br />
          Architecture
        </div>
        <div class="text-xl descriptionfont">
          An exploration of how sequencing spaces <br />
          can affect one's experience.
        </div>
        <div class="text-xl text-white">-&gt;</div>
      </div>
    </a>
  </div>
  <div class="w-1/2 ratio flex justify-center items-center thesisimage" id="number">
    <div class="text-9xl redtext" id="child">1</div>
  </div>
</div>
<style>
  .redbackground {
    background-color: rgb(235 167 153);
  }
  .redtext {
    color: rgb(235 167 153);
    font-weight: 800;
    font-family: "Alexandria";
  }
  #number {
    opacity: 0.5;
  }
  #background:hover + #number #child{
    opacity: 1;
  }
  .ratio {
    aspect-ratio: 4/3;
    width: 100%;
  }
  .titlefont {
    font-weight: 400;
    text-align: center;
    color: rgb(248 248 247);
  }
  .descriptionfont {
    font-weight: 300;
    text-align: center;
    color: rgb(248 248 247);
  }
</style>
