<div class="w-full flex flex-row-reverse">
  <div class="w-1/2 ratio" id="background">
    <a class="w-full h-full" href="projects/thesis">
      <div
        class={`w-full h-full redbackground flex justify-center items-center flex-col gap-5`}
      >
        <div class="text-5xl titlefont tracking-wide">
          Experiencing <br />
          Architecture
        </div>
        <div class="text-xl descriptionfont tracking-wide">
          An exploration of how sequencing spaces <br />
          can affect one's experience.
        </div>
        <br/>
        <svg width="45" height="36" viewBox="0 0 45 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M27.6475 0.926327C27.0545 0.347817 26.1048 0.359541 25.5263 0.952514C24.9478 1.54549 24.9595 2.49516 25.5525 3.07367L27.6475 0.926327ZM43 18L44.0475 19.0737C44.3368 18.7914 44.5 18.4042 44.5 18C44.5 17.5958 44.3368 17.2086 44.0475 16.9263L43 18ZM25.5525 32.9263C24.9595 33.5048 24.9478 34.4545 25.5263 35.0475C26.1048 35.6405 27.0545 35.6522 27.6475 35.0737L25.5525 32.9263ZM2 16.5C1.17157 16.5 0.5 17.1716 0.5 18C0.5 18.8284 1.17157 19.5 2 19.5V16.5ZM25.5525 3.07367L41.9525 19.0737L44.0475 16.9263L27.6475 0.926327L25.5525 3.07367ZM27.6475 35.0737L44.0475 19.0737L41.9525 16.9263L25.5525 32.9263L27.6475 35.0737ZM43 16.5H2V19.5H43V16.5Z" fill="white"/>
          </svg>
      </div>
    </a>
  </div>
  <div
    class="w-1/2 ratio flex justify-center items-center thesisimage" id="numberbackground"
  >
    <div>
      <svg
        width="327"
        height="519"
        viewBox="0 0 245 389"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        >
        <path
          d="M0 0H166V389H78.2809V71.6871H0V0Z"
          fill= "white"
          fill-opacity="0.8" id="number"></path>
      </svg>
    </div>
    <!-- <svg width="166" height="389" viewBox="0 0 166 389" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0H166V389H78.2809V71.6871H0V0Z" fill="white" fill-opacity="0.8"/>
      </svg> -->
    <!-- <div class="text-9xl redtext" id="child">1</div> -->
  </div>
</div>
<style>
  .redbackground {
    background-color: rgb(235 167 153);
  }
  .redtext {
    fill: rgb(235 167 153);
    transition: 0.3s;
  }
  #background:hover + #numberbackground #number{
    fill: rgb(235 167 153);
    transition: 0.2s;
    fill-opacity: 1;
  }
  .ratio {
    aspect-ratio: 4/3;
    width: 100%;
  }
  .titlefont {
    font-weight: 400;
    text-align: center;
    color: rgb(248 248 247);
  }
  .descriptionfont {
    font-weight: 300;
    text-align: center;
    color: rgb(248 248 247);
  }
</style>
