---
import ScrollArrow from "../../components/ScrollArrow.astro";
import MySiteLayout from "../../layouts/default.astro";
---

<MySiteLayout showBackToTop={true}>
  <div class="w-full">
    <img
      src="/arch/arch-cover-corridor.png"
      alt="architecture rendering of hallway"
      class="-z-50 fixed"
    />
  </div>
  <div class="w-full flex flex-col relative">
    <img
      src="/arch/arch-cover-corridor.png"
      alt="architecture rendering of hallway"
      class="opacity-0"
    />

    <div
      class="dark:bg-[#000000] z-40 dark:bg-opacity-50 bg-[#FFFFFF] h-[140px] sm:h-[160px] w-full bg-opacity-50 absolute bottom-0 flex flex-col justify-center text-center"
    >
      <h1 class="sm:pl-4 sm:text-[40px] text-[30px] font-semibold">
        experiencing architecture
      </h1>
      <h2 class="sm:text-[30px] text-[20px] tracking-wide font-light">
        Virginia Tech, 2020; Bachelor of Architecture Thesis - Designing a
        preschool
      </h2>
    </div>
  </div>

  <div class="w-full relative dark:bg-[#1e1e1e] bg-[#f4f4f4]">
    <article class="sm:max-w-3xl px-4 mx-auto pt-8 tracking-wider">
      <h1 class="text-[30px] font-semibold pt-20 pb-10">tl;dr</h1>
      <p>
        For my undergraduate thesis, I explored a hypothetical sequence of
        spaces in a preschool, their functions, and their effects on children. I
        proposed that a sequence provides an element of familiarity and comfort
        for the child, therefore the spaces must transition smoothly and have
        characteristics of their own.
      </p>
      <br />
      <br />

      After reflecting, this is how I would redesign the preschool in order to
      develop a more user-centric, data-driven design:
      <br />
      <br />
      <ul class="list-disc pl-5 pb-10">
        <li>
          Identify the problem with the current layout by determining who the
          primary and secondary users of the preschool are.
        </li>
        <li class="pt-2">
          Gather information by observing the children while in class,
          interviewing teachers and guardians, initiating focus groups, and
          handing out surveys.
        </li>
        <li class="pt-2">
          Use the data to start the iteration process of designing, hear
          feedback from the children, teachers, and guardians, make
          modifications to the design, and repeat.
        </li>
      </ul>

      <a href="#redesign">
        <ScrollArrow text="see redesign process" />
        <!-- <h3
          class="inline-block font-medium text-[2.25rem] pt-10 pb-10 h3font hover:text-[#2E5CFF] dark:hover:text-[#A2B6FF] text-[#7692F6]"
        >
          see redesign process
        </h3> -->
      </a>
    </article>
  </div>
  <div class="bg-[#ECEEF4] dark:bg-[#2B2C36]">
    <article class="sm:max-w-3xl px-4 mx-auto pt-16 bodyfont tracking-wider">
      <p>My original thesis was focused on a more conceptual design:</p>
      <br />
      <ul class="list-disc pl-5 pb-10">
        <li>
          Overlapping geometries revealed the connecting of spaces and the use
          of transitional spaces.
        </li>
        <li class="pt-2">
          Public vs. private: what is the purpose of each space and how can the
          built qualities reflect that purpose?
        </li>
        <li class="pt-2">
          Sequencing spaces from social to individual benefits from using
          transitional spaces.
        </li>
      </ul>

      <a href="#original">
        <ScrollArrow text="see original design" />
      </a>
    </article>
  </div>
  <section id="redesign" class="w-full relative dark:bg-[#1e1e1e] bg-[#f4f4f4]">
    <article class="max-w-3xl px-4 mx-auto pt-8 tracking-wider">
      <h1 class="text-[30px] font-semibold pt-16 pb-10">
        the redesign process
      </h1>
      <h1 class="text-[25px] font-light pb-5">identifying the problem</h1>
      <p class="pb-10">
        The people who interact inside a preschool include more than just the
        children: their guardians and teachers. Out of these users, some will be
        sitting, standing, speaking, or listening, and the space around them
        impacts their comfortability to do those things. To identify how the
        layout can be improved, how the children’s behavior can be improved, and
        what correlation the spaces have with children’s behavior, it is
        essential to hear from the people who spend time in those spaces.
      </p>
      <h1 class="text-[25px] pb-7 font-light">gathering information</h1>
      <h5 class="font-bold pb-5">Teachers:</h5>
      <p class="pb-5">
        I would collect information from the teachers first for a couple
        reasons: they spend the most time in the building and are the ones
        responsible for leading the children through the spaces. They would have
        the most insight on how the children behave. One-on-one interviews would
        help me understand the space from their perspective and to hear about
        any particular frustrations they have. Surveys would also be helpful in
        gathering more data points in a shorter span of time. Some questions I
        would ask would be:
      </p>
      <ul class="pb-5 list-disc pl-5">
        <li>
          How does the time of day affect your interactions with your students,
          or the interaction between your students?
        </li>
        <li>
          What is the most challenging part of managing an entire class of
          preschoolers?
        </li>
        <li>
          Is there anything frustrating about your current classroom? What would
          you change?
        </li>
      </ul>
      <p class="pb-10">
        I would use this information to determine the most utilized and
        important areas in a classroom. Next, I would list out the hierarchy of
        spaces, allocate the necessary square footage, and organize them in what
        I see is an efficient layout. I would return to the teachers with these
        layouts and listen to their feedback before making a new iteration.
      </p>
      <h5 class="font-bold pb-5">Children:</h5>
      <p class="pb-5">
        In addition to hearing from the teachers, I would want to know how the
        children feel and act. I might first observe them during a day of
        school, taking note of how they interact with each other, their
        individual mood shifts, and their paths of travel. A focus group might
        also be a good option to ask them the following questions:
      </p>
      <ul class="pb-5 list-disc pl-5">
        <li>What is your favorite time of day and why?</li>
        <li>What do you like about playing alone?</li>
        <li>What do you like about playing with other kids?</li>
        <li>What is your favorite spot in the classroom and why?</li>
        <li>What is a spot you do not like to be in and why?</li>
      </ul>
      <p class="pb-10">
        The goal is to gather data that would help me better understand the
        qualities of the spaces children enjoy being in, and spaces they do not
        enjoy being in. How does their environment make them feel? This
        information would impact the types of spaces I integrate, the location
        of each space, and the material and lighting qualities of each space.
      </p>
      <h5 class="font-bold pb-5">Guardians:</h5>
      <p class="pb-5">
        The last group engaging with the preschool is parents and guardians. It
        is to a lesser extent but they still are experiencing the same space.
        Individual interviews and surveys would be the most beneficial here. I
        would ask them questions such as:
      </p>
      <ul class="pb-5 list-disc pl-5">
        <li>
          What is the most difficult aspect of dropping your child off at
          school?
        </li>
        <li>How might we create a smoother process?</li>
        <li>
          Do you prefer coming into the classroom or dropping them off at the
          classroom door?
        </li>
        <li>
          Is there a need for a designated pick-up space? A waiting space?
        </li>
      </ul>
      <p class="pb-16">
        These questions would give me more insight on how the lobby area and
        corridors should be designed.
      </p>
    </article>
  </section>
  <section id="original" class="bg-[#ECEEF4] dark:bg-[#2B2C36]">
    <article class="max-w-3xl px-4 mx-auto pt-16 tracking-wider">
      <h1 class="text-[30px] font-semibold pt-6 pb-10">the original design</h1>
      <h1 class="text-[25px] font-light pb-5">iterating with form</h1>
      <p class="pb-20">
        Overlapping geometries created intermediary spaces. These spaces would
        serve as areas of transition from “social” to “individual”, and
        connection of each classroom to another.
      </p>
      <div class="pb-20">
        <img
          src="/arch/Arch-geometric-forms.png"
          alt="various geometric layouts"
        />
      </div>
      <div class="pb-20">
        <img
          src="/arch/Arch-inside-outside.png"
          alt="graphic showing inside, outside, and in-between spaces"
        />
      </div>
    </article>
  </section>
  <div class="w-full relative dark:bg-[#1e1e1e] bg-[#f4f4f4]">
    <article class="max-w-3xl px-4 mx-auto pt-16 tracking-wider">
      <h1 class="text-[25px] font-light pb-5">following a sequence</h1>
      <p class="pb-20">
        The sequence through the classroom starts with a nook outside the
        classroom that serves as a small buffer, then the cubbies at the
        entrance of the classroom where the children can have a sense of
        individuality, and then the play/class area, split into a more
        individual space and a group space.
      </p>
      <div class="pb-20">
        <img
          src="/arch/L-Arch-classroom-sequence.png"
          alt="drawing showing classroom spaces"
          class="block dark:hidden"
        />
        <img
          src="/arch/D-Arch-classroom-sequence.png"
          alt="drawing showing classroom spaces"
          class="hidden dark:block"
        />
      </div>
    </article>
  </div>
  <div class="bg-[#ECEEF4] dark:bg-[#2B2C36]">
    <article class="max-w-3xl px-4 mx-auto pt-16 tracking-wider">
      <h1 class="text-[25px] font-light pb-5">
        scale of public vs. private space
      </h1>
      <p class="pb-10">
        The varying heights of the spaces indicate the type of space: private
        spaces are enclosed while public spaces are expansive.
      </p>
      <div class="pb-20">
        <img
          src="/arch/L-Arch-public-private.png"
          alt="drawings of classroom"
          class="block dark:hidden"
        />
        <img
          src="/arch/D-Arch-public-private.png"
          alt="drawings of classroom"
          class="hidden dark:block"
        />
      </div>
    </article>

    <article class="max-w-3xl px-4 mx-auto tracking-wider">
      <p class="pb-10">
        Similarly, at the entrance of the school, the spaces gradually become
        taller to suggest a more public space, from the entrance vestibule, to
        the reception area, to the circulation core.
      </p>

      <div class="pb-20">
        <img
          src="/arch/L-Arch-circulation-core.png"
          alt="axonometric drawing of building vestibule"
          class="block dark:hidden"
        />
        <img
          src="/arch/D-Arch-circulation-core.png"
          alt="axonometric drawing of building vestibule"
          class="hidden dark:block"
        />
      </div>
      <a
        href="https://drive.google.com/file/d/1f6fYpVDI8uYkqWnkonRBsRkaODNgJfEe/view?usp=drive_link"
        target="_blank"
        class="items-center text-center"
        ><h3
          class="font-medium text-[2.25rem] pt-10 pb-10 hover:text-[#FF424E] dark:hover:text-[#FF8991] text-[#000000] dark:text-[#ffffff]"
        >
          full thesis documentation
        </h3>
      </a>
    </article>
  </div>
</MySiteLayout>
<!-- <div class="w-full relative dark:bg-[#1e1e1e] bg-[#f4f4f4]">
  <div class="max-w-2xl mx-auto">
    <a href="/#extras"
      ><div>
        <h3
          class="font-medium text-[2.25rem] pt-10 pb-16 h3font hover:text-[#2E5CFF] text-[#7692F6] dark:hover:text-[#A2B6FF] inline-block"
        >
          next: the extras
        </h3>
      </div>
    </a>
  </div>
</div> -->

<style>
  .list {
    list-style-type: square;
    list-style-position: outside;
  }
  .image {
    position: absolute;
    top: 0px;
  }

  .geometric {
    max-width: 30%;
    max-height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .classroom {
    max-width: 30%;
    max-height: auto;
    margin-left: 30%;
  }

  .publicprivate {
    max-width: 50%;
    max-height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .axon {
    max-width: 100%;
    max-height: auto;
  }
</style>
