---
import MySiteLayout from "../../layouts/default.astro";
---

<MySiteLayout>
  <div class="w-full">
    <img
      src="/nutrie/L-Nutrie-page-static-image.png"
      alt="Nutrie phone frames"
      class="-z-50 fixed"
    />
  </div>
  <div class="w-full flex flex-col relative">
    <img
      src="/nutrie/L-Nutrie-page-static-image.png"
      alt="Nutrie phone frames"
      class="opacity-0"
    />
    <div
      class="dark:bg-[#000000] z-40 dark:bg-opacity-50 bg-[#FFFFFF] h-[160px] w-full bg-opacity-50 absolute bottom-0 flex flex-col justify-center pl-20"
    >
      <h1 class="text-[4rem] font-semibold">nutrıe</h1>
      <h2 class="text-[2.25rem] tracking-wide font-extralight leading-6 pb-6">
        a mobile app for guided intuitive meal planning
      </h2>
    </div>
  </div>

  <div class="w-full relative dark:bg-[#3a3a3a] bg-[#f4f4f4]">
    <article class="max-w-3xl mx-auto pt-8 tracking-wider flex flex-col">
      <h3 class="text-[2.25rem] pt-20 pb-10">tl;dr</h3>
      <p>
        <strong class="font-bold">The Problem:</strong> Meal planning apps on the
        market measure success through numbers, encouraging a rigid eating structure.
        This can be overwhelming and discouraging for someone who struggles with
        balanced, unrestrictive eating.
        <br />
        <br />
        <strong class="font-bold">The Solution:</strong> Nutrie is a meal planning
        app that caters towards people who would like to build more regular eating
        habits in an intuitive way.
      </p>
      <br />
      Here are a few ways Nutrie creates a more encouraging environment for this
      audience:
      <br />
      <br />
      <ul class="list-disc pl-5">
        <li>Simple daily checklists</li>
        <li class="pt-2">Scheduled reminders to eat</li>
        <li class="pt-2">Visual log to track progress</li>
        <li class="pt-2 pb-20">
          Professional help from registered dietitian and/or licensed therapist
        </li>
      </ul>
    </article>
    <div class="container mx-auto flex justify-center items-center pb-20">
      <!-- <img
        src="/nutrie/L-Nutrie-welcome-screen.png"
        alt="Nutrie welcome screen"
        class="pb-20"
      /> -->
      <iframe
        style="border: 1px solid rgba(0, 0, 0, 0.1);"
        width="500"
        height="1000"
        src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2Fs6VcBq9oEWGHCt7btAJcg8%2FNutrie%3Fpage-id%3D0%253A1%26type%3Ddesign%26node-id%3D1037-32318%26viewport%3D-4765%252C-25489%252C1%26scaling%3Dscale-down%26starting-point-node-id%3D1037%253A32318%26show-proto-sidebar%3D1"
        allowfullscreen></iframe>
    </div>
    <a href="#design"
      ><div class="max-w-3xl mx-auto">
        <h3
          class="font-medium text-[2.25rem] pt-10 pb-10 h3font dark:hover:text-[#A2B6FF] hover:text-[#2E5CFF] text-[#6889FF] inline-block"
        >
          scroll down to desıgn
        </h3>
      </div>
    </a>
  </div>
  <div class="bg-[#ECEEF4] dark:bg-[#3e3f45]">
    <article class="max-w-3xl mx-auto tracking-wider">
      <h3 class="text-[2.25rem] pt-16 pb-10">the background</h3>
      <h4 class="text-[1.5rem] pb-5 tracking-normal">
        identifying the problem
      </h4>
      <p class="pb-5">
        Many existing eating habit apps focus on calorie counting. For people
        who are struggling with their relationship with food, getting caught up
        in numbers encourages obsessive behaviors. When meeting goals based on
        numbers is a priority, it is easy to become restrictive. One should be
        able to follow a meal plan and record what was accomplished without
        guilt or the fear of failure: failing to reach a certain number of grams
        of protein, stay below a certain caloric total, consume only “healthy”
        labeled foods, etc.
      </p>
      <p class="pb-10">
        With the assistance of a registered dietitian and possibly licensed
        therapist, Nutrie focuses on encouraging people through simple acts of
        accomplishment. There is psychology behind the effectiveness of checking
        off a box and how it further motivates a person to continue
        accomplishing. Having an organized system that breaks down a seemingly
        daunting task into smaller pieces helps one make progress. In this case,
        breaking down a day into meals, into each item, would provide a strong
        starting point in building more regular eating habits.
      </p>
      <h4 class="text-[1.5rem] pb-5 font-medium tracking-normal">
        gathering information
      </h4>
      <p class="pb-5">
        After researching the market, I realized the main food tracking screens
        for MyFitnessPal, MyPlate, and Lifesum lacked a simple way to see what
        to eat for that day. Nutrie introduces a to-do list structure that
        reminds you of what to eat and tracks what was eaten. This relieves some
        mental load- now you only have to remember to check a box. Nutrie
        targets a specific audience: those looking for a structure that reminds
        them of what to eat today, provides a simple way to record what they
        ate, gives the ability to plan future meals, and offers professional
        guidance in customizing a plan that works for them.
      </p>
      <p class="pb-5">
        Some features that other apps include are tracking caloric intake,
        macronutrient amounts, and weight. These are intentionally left out of
        Nutrie as the goal is to build a consistent and intuitive foundation of
        eating, rather than reaching a particular number. Nutrie gathers data
        from what was eaten and the recorded mental and physical symptoms to
        detect trends in potential problem foods. This helps the user and
        dietitian determine which foods to include and exclude from the meal
        plan.
      </p>
      <p class="pb-20">
        Below is a comparative analysis between Nutrie and other similar apps on
        the market: myFitnessPal, MyPlate, and Lifesum.
      </p>
    </article>
    <div class="comparative pb-20">
      <img
        src="/nutrie/L-Nutrie-comp-analysis.png"
        alt="Comparative analysis chart between different meal planning apps"
        class="block dark:hidden"
      />
      <img
        src="/nutrie/D-Nutrie-comp-analysis.png"
        alt="Comparative analysis chart between different meal planning apps"
        class="hidden dark:block"
      />
    </div>
    <article class="max-w-3xl mx-auto tracking-wider">
      <h4 class="text-[1.5rem] pb-5 font-medium tracking-normal">goals</h4>
      <ol class="list-disc pl-5">
        <li>
          Help foster a relationship with food that does not rely on calorie
          counting, instead focusing on a more intuitive approach.
        </li>
        <li class="pt-2">
          Promotes consistency by providing space to create and organize plans.
        </li>
        <li class="pt-2">Give encouragement to achieve personalized goals.</li>
        <li class="pt-2">Match user with professionals for guidance.</li>
        <li class="pt-2 pb-16">
          Improve eating habits by giving insight on which foods and eating
          habits may be causing discomfort.
        </li>
      </ol>
    </article>
  </div>
  <div class="w-full relative dark:bg-[#3a3a3a] bg-[#f4f4f4]" id="design">
    <article class="max-w-3xl mx-auto tracking-wider">
      <h3 class="text-[2.25rem] pt-16 pb-10">the desıgn</h3>
      <h4 class="text-[1.5rem] pb-5 tracking-normal">onboarding</h4>
      <p class="pb-10">
        The initial setup for this app includes creating an account, selecting a
        goal, and matching with a dietitian and/or therapist if applicable. The
        user is able to select their preferences for the dietitian and therapist
        to find their best match.
      </p>
    </article>
    <div class="frameabc pb-20">
      <img
        src="/nutrie/L-Nutrie-frames-a-b-c.png"
        alt="screens showing create account, setup, and match with dietitian"
      />
    </div>
  </div>
  <div class="bg-[#ECEEF4] dark:bg-[#3e3f45]">
    <article class="max-w-3xl mx-auto tracking-wider">
      <h4 class="text-[1.5rem] pt-16 pb-20 tracking-normal">navigation bar</h4>
    </article>
    <div class="navbar pb-20">
      <img
        src="/nutrie/L-Nutrie-nav-bar.png"
        alt="navigation bar"
        class="block dark:hidden"
      />
      <img
        src="/nutrie/D-Nutrie-nav-bar.png"
        alt="navigation bar"
        class="hidden dark:block"
      />
    </div>
  </div>
  <div class="w-full relative dark:bg-[#3a3a3a] bg-[#f4f4f4]">
    <article class="max-w-3xl mx-auto tracking-wider">
      <h4 class="text-[1.5rem] pb-5 pt-16 tracking-normal">settings</h4>
      <p class="pb-20">
        The appearance mode of the app can be changed in settings.
      </p>
    </article>
    <div class="frame1x2 pb-20">
      <img
        src="/nutrie/settings.png"
        alt="screens showing light and dark mode options"
      />
    </div>
  </div>
  <div class="bg-[#ECEEF4] dark:bg-[#3e3f45]">
    <article class="max-w-3xl mx-auto tracking-wider">
      <h4 class="text-[1.5rem] pt-16 pb-5 tracking-normal">overview</h4>
      <p class="pb-20">
        Once a meal plan is created, upcoming meals and snacks will appear at
        the top of the homepage in checklist form. Items move from the 'Up Next'
        section to the 'Past' section once they have been completed. Additional
        food and water can be added to the daily log. Colored rings indicate
        daily progress, encouraging users to fill them. A week’s worth of meal
        plan schedules is listed for easy changes.
      </p>
    </article>
    <div class="frame1x2 pb-20">
      <img
        src="/nutrie/L-Nutrie-frame-d-e-f.png"
        alt="screens showing upcoming meals, adding food and water, daily progress rings"
      />
    </div>
    <div class="frameg pb-20">
      <img
        src="/nutrie/L-Nutrie-frame-g.png"
        alt="screen showing week ahead schedule"
      />
    </div>
  </div>
  <div class="w-full relative dark:bg-[#3a3a3a] bg-[#f4f4f4]">
    <article class="max-w-3xl mx-auto tracking-wider">
      <h4 class="text-[1.5rem] pt-16 pb-5 tracking-normal">meal planning</h4>
      <p class="pb-20">
        Daily meal plans are viewable through the calendar. This functionality
        allows the user to view past meal plans as well as set up meal plans for
        the future. Items can be added, titles and times can be changed, and
        frequency per meal plan can be edited. This customization allows the
        user to easily set a regular schedule and adjust as needed. Meal plans
        can be saved as templates to quickly assign to days, and a search
        function is available to look through all saved meal plans.
      </p>
    </article>
    <div class="framehij pb-20">
      <img
        src="/nutrie/L-Nutrie-frame-h-i-j.png"
        alt="screens showing calendar and editing meal plan"
      />
    </div>
    <div class="frame1x2 pb-20">
      <img
        src="/nutrie/L-Nutrie-frame-k-l.png"
        alt="screens showing meal plan frequency and saved meal plans"
      />
    </div>
    <article class="max-w-3xl mx-auto tracking-wider">
      <p class="pb-20">
        Within the editing mode, users can add items from their meal plans to a
        shopping list by swiping right on the item or the entire group. The
        intent is to minimize mental load by keeping everything organized in one
        place.
      </p>
    </article>
    <div class="frame1x2 pb-20">
      <img
        src="/nutrie/L-Nutrie-frame-m.png"
        alt="screens showing saving items to shopping list"
      />
    </div>
  </div>
  <div class="bg-[#ECEEF4] dark:bg-[#3e3f45]">
    <article class="max-w-3xl mx-auto tracking-wider">
      <h4 class="text-[1.5rem] pt-16 pb-5 tracking-normal">
        progress tracking
      </h4>
      <p class="pb-20">
        Each category's completion level is recorded in the form of colored
        rings indicating daily progress. This visual is intended to encourage
        users to record consistently on the app and hold themselves accountable.
        They can also reflect on their monthly progress.
      </p>
    </article>
    <div class="framen pb-20">
      <img
        src="/nutrie/L-Nutrie-frame-n.png"
        alt="screens showing daily and monthly progress tracking"
      />
    </div>
    <article class="max-w-3xl mx-auto tracking-wider">
      <p class="pb-20">
        The daily journal keeps track of the user’s mental and physical wellness
        and provides a space to add notes. Once again, the intent is to keep the
        information organized to reduce the amount of effort involved in forming
        healthy, consistent eating habits. The user can allow their therapist or
        dietitian to view whichever journal entries they choose, ensuring that
        the user is in control of their data.
      </p>
    </article>
    <div class="frame1x2 pb-20">
      <img
        src="/nutrie/L-Nutrie-frame-o.png"
        alt="screens showing daily journal entry and calendar"
      />
    </div>
    <article class="max-w-3xl mx-auto tracking-wider">
      <p class="pb-20">
        The app also tracks fluctuations in the user’s daily overall wellness
        and the likelihood of certain foods to cause them discomfort, allowing
        the app to suggest foods to avoid. Finding a meal regimen that works for
        each individual is constantly evolving. Nutrie streamlines this process
        by providing a space to reflect on past meal routines, record current
        eating habits, and plan future routines utilizing the collected data.
      </p>
    </article>
    <div class="frame1x2 pb-20">
      <img
        src="/nutrie/L-Nutrie-frame-p-q.png"
        alt="screens showing graphs for overall wellness and foods to be mindful of"
      />
    </div>
  </div>
  <div class="w-full relative dark:bg-[#3a3a3a] bg-[#f4f4f4]">
    <article class="max-w-3xl mx-auto tracking-wider">
      <h4 class="text-[1.5rem] pt-16 pb-5 tracking-normal">communication</h4>
      <p class="pb-5">
        Nutrie provides a line of communication between the user and a dietitian
        and/or therapist. The function is intended to be similar to that of
        BetterHelp, an app for virtual therapy that matches users with a
        professional. Based on their preferences, the users receive personalized
        support.
      </p>
      <p class="pb-20">
        In Nutrie, the user can choose when to match with a dietitian and/or
        therapist upon making an account. The dietitian and therapist services
        are available, but not required in order to use the app. In-person and
        virtual appointments are scheduled using the calendar.
      </p>
    </article>
    <div class="frame1x2 pb-20">
      <img
        src="/nutrie/L-Nutrie-frame-r-s.png"
        alt="screens showing messaging dietitian and appointment calendar"
      />
    </div>
  </div>
  <div class="bg-[#ECEEF4] dark:bg-[#3e3f45]">
    <article class="max-w-3xl mx-auto tracking-wider">
      <h3 class="text-[2.25rem] pt-16 pb-5">lookıng forward</h3>
      <p class="pb-5">
        Nutrie is a work in progress. In the future, I would like to add:
      </p>
      <ul class="list-disc pl-5">
        <li>user interface for the dietitian and therapist</li>
        <li class="pt-2">
          interface for having a virtual appointment with practitioner
        </li>
        <li class="pt-2">
          keyword detection to quickly save an item to a meal and having a
          favorite items list
        </li>
        <li class="pt-2">dropdown suggestions for input fields</li>
        <li class="pt-2 pb-40">personalized goal setting</li>
      </ul>
    </article>
    <div class="w-full relative dark:bg-[#3a3a3a] bg-[#f4f4f4]">
      <div class="max-w-3xl mx-auto">
        <a href="/projects/plantplace">
          <h3
            class="font-medium text-[2.25rem] pt-10 pb-20 h3font hover:text-[#2E5CFF] text-[#7692F6]"
          >
            next: plantplace
          </h3>
        </a>
      </div>
    </div>
  </div>
</MySiteLayout>

<style>
  .welcome {
    max-width: 20%;
    max-height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .comparative {
    max-width: 50%;
    max-height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .frameabc {
    max-width: 65%;
    max-height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar {
    max-width: 40%;
    max-height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .framedef {
    max-width: 48%;
    max-height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .frameg {
    max-width: 21%;
    max-height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .framehij {
    max-width: 65%;
    max-height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .frame1x2 {
    max-width: 42%;
    max-height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .framen {
    max-width: 42%;
    max-height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
</style>
