---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://use.typekit.net/afz1ogo.css
    <link rel="stylesheet" href="global.css">
    <!-- <BaseHead title={title}/> -->
  </head>
  <body>
    <nav
      class="hidden sm:flex w-full topnav flex-row justify-between p-7 px-10 items-center navbackground headercolor"
    >
      <h1 class="text-2xl font-semibold tracking-wider headerMina">{"Mina Kang"}</h1>
      <div class="gap-10 flex-row flex font-regular">
        <a href="#">home</a>
        <a href="#">projects</a>
        <a href="#">about</a>
        <a href="#">contact</a>
      </div>
    </nav>
    <article>
      <slot />
      <!-- your content is injected here -->
    </article>
    <!-- <Footer /> -->
  </body>
</html>

<style>
  .navbackground {
    background-color: rgba(238 235 232/0.8);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  } 
  .headercolor {
    color: rgb(35 52 77)
  }
  .headerMina:hover {
    color: rgb(105 123 149);
    transition: 0.2s;
  }
</style>
