---
import "../styles/global.css";
const { backgroundVisible } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://use.typekit.net/afz1ogo.css" />
    <link rel="stylesheet" href="global.css" />
    <!-- <BaseHead title={title}/> -->
  </head>
  <body class="dark:bg-[#3a3a3a] bg-[#f4f4f4] dark:text-white text-[#3A3A3A]">
    <!-- <img class="fixed icons pt-8" src="/L-dark-light-mode.png" alt="dark and light mode icons"> -->

    <nav class="fixed top-0 flex w-full flex-row justify-between p-10 z-50">
      <div class="flex flex-row gap-12">
        <a href="/">
          <h1 class="text-2xl hover:text-[#939393] font-light">
            {"home"}
          </h1>
        </a>
        <a href="/">
          <h1 class="hover:text-[#939393] font-light text-2xl">work</h1>
        </a>
        <a href="/">
          <h1 class="hover:text-[#939393] font-light text-2xl">extras</h1>
        </a>
        <a href="/about-me">
          <h1 class="hover:text-[#939393] font-light text-2xl">about</h1>
        </a>
      </div>
      <div class="flex flex-row gap-2">
        <img src="/empty-moon.svg" alt="dark mode icon" />
        <img src="/filled-sun.svg" alt="light mode icon" />
      </div>
    </nav>
    <div class="fixed bottom-0 right-0 z-50 p-10">
      <a href="#top">
        <h1 class="hover:text-[#939393] font-normal text-2xl">back to top</h1>
      </a>
    </div>
    <article>
      <slot />
      <!-- your content is injected here -->
    </article>

    <!-- <Footer /> -->
  </body>
</html>

<style></style>
